<h1>about me</h1>

i'm iooioio. i have many identities (just like you). i'm a husband, father,
programmer, music lover, inhabitant of planet earth, gamer, investor, nixos
user and and and. i'll probably explore some of these identities to varying
degrees in this garden.

<br><br>

i listed "husband" as the first identity. that's no coincidence (though
the rest are in a mostly random order). it may sound cheesy but my wife is
the most important person in the world to me. she knows more about me than
anybody else and, likewise, influences me more than anyone or anything else.
together we form one whole.

<h2>bio</h2>

born in 1988. i grew up bilingually (one british, one german parent) as one
of six siblings. lived in england, homeschooled, then moved to germany with
the fam when i was ten. started going to school (homeschooling is illegal in
germany), graduated and spent a year in thailand.

<br><br>

my time in thailand was tough and very valuable. my experiences there helped
me break out of the fundamentalist christian system i had been raised in
and opened up an entirely different world to me.

<br><br>

i went on to study at university, then started work. despite various changes
along the way, i've mostly remained self-employed and am currently working
as a freelance software developer.

<br><br>

in 2017(ish) i started a series of coaching seminars which accelerated my
life in ways i never would have imagined. i met a beautiful lady at one of
these, moved to berlin to live with her. we got married and now have two
kids (girl: 2019, boy: 2021). they're pretty cool. they drive me up the wall
sometimes but i love em.

<h2>some stuff that i use</h2>

i think there's a thing that some tech folk do on their websites. they add
a "uses" page that lists some of the software they use... or something like
that. anyway, that's what this is.

<ul>
  <li>os: <a href="https://nixos.org/">NixOS</a></li>
  <li>editor: <a href="https://kakoune.org/">Kakoune</a></li>
  <li>
    desktop environment: homegrown
    <ul>
      <li>window manager: <a href="https://xmonad.org/">XMonad</a></li>
      <li>compositor: <a href="https://github.com/yshui/picom">picom</a></li>
      <li>bar: <a href="https://polybar.github.io/">Polybar</a></li>
      <li>launcher: <a href="https://github.com/davatorium/rofi">Rofi</a></li>
      <li>notifications: <a href="https://dunst-project.org/">Dunst</a></li>
    </ul>
  </li>
  <li>browser: <a href="https://librewolf.net/">LibreWolf</a></li>
  <li>instant messenger: <a href="https://cinny.in/">Cinny</a> (matrix client)</li>
  <li>primary programming language: <a href="https://elixir-lang.org/">Elixir</a></li>
</ul>

<h2>getting in touch</h2>

you can get in touch via <a href="mailto:you@iooioio.xyz">email</a> (replace
"you" with "me") or find me <a href="https://fosstodon.org/web/@iooioio">on
the fediverse</a>. my response times vary but can occasionally be measured
in weeks.
