<h1>coffee</h1>

i like coffee. i mostly drink filter coffee, though i recently started
added a french press to my repertoire. light and medium roast arabica is my
favourite. not really into espresso and co.

<h2>gear</h2>

this is what i currently use:

<ul>
  <li><a href="https://1zpresso.coffee/product/jx/">1Zpresso JX Manual
      Coffee Grinder</a></li>
  <li><a href="https://www.bodum.com/gb/en/11571-109-pour-over">BODUM Pour
      Over</a><sup><a href="#footnote-1">[1]</a></sup></li>
  <li><a href="https://planetarydesign.com/product/airscape-ceramic/">
      Airscape Ceramic</a></li>
  <li><a href="https://www.wmf.com/de/coffeepress-kult.html">WMF Kult French
      Press</a></li>
  <li><a href="https://www.brita.de/wasserfiltersysteme/tischwasserfilter/marella">
      BRITA Marella water filter</a></li>
  <li>some shitty scales that i need to replace some day</li>
</ul>

<h2>method: pour over</h2>

this is my standard method. i use it every day:

<ol>
  <li>boil filtered water</li>
  <li>weigh and grind coffee (usually about 32g)</li>
  <li>rinse filter with hot water</li>
  <li>put some baking soda<sup><a href="#footnote-2">[2]</a></sup> in the
      filter (the water here is pretty hard)</li>
  <li>add coffee grounds</li>
  <li>ensure water is about 95°C (for some beans i go down to 90°C) and
      weigh it (usually about 512g)</li>
  <li>bloom<sup><a href="#footnote-3">[3]</a></sup></li>
  <li>pour water over grounds, slowly and carefully</li>
  <li>enjoy</li>
</ol>

<h2>method: french press</h2>

when i use the french press i use <a href="https://www.youtube.com/watch?v=st571DYYTR8">
james hoffman's ultimate french press technique</a>. i'm still rather
inexperienced with the french press and only use it about twice a week.

<br><br><hr>

<p id="footnote-1">
  [1] i use paper filters and place them into the provided filter, since the
      latter is too leaky
</p>
<p id="footnote-2">
  [2] i use <a href="https://www.holste.de/kaisernatron.htm">this</a>
</p>
<p id="footnote-2">
  [3] check the respective section on <a href="https://voltagecoffee.com/pourover/">
      this page</a> if you don't know what "bloom" means
</p>
