<h1>2022-01-14: on publishing</h1>

<h2>perfection</h2>

i'm a perfectionist. i find it hard to share my work (anything i produce)
with others without mulling over it and polishing it to bits first. this
affects virtually everything i do. the code i write, the toots i fire off
on mastodon, emails, music, even cooking.

<br><br>

i've noticed how this tendency has resulted in me simply keeping most
things to myself. it has also instilled a reluctance in me to start new
projects at all. there are so many choices to be made at the start of a
project and i don't want to get any of them <i>wrong</i>.

<br><br>

of course, this is ridiculous and i don't want the pattern to continue so
this digital garden is my hands-on approach to bringing about change. if
you're reading this, then i have already broken out (at least partially).
it's an ongoing process, a journey, but the first step has been made.

<h2>the digital garden</h2>

maggie appleton <a href="https://maggieappleton.com/garden-history">writes
the following</a> about the concept of a <i>digital garden</i>:

<blockquote cite="https://maggieappleton.com/garden-history">
  A garden is a collection of evolving ideas that aren't strictly organised
  by their publication date. They're inherently exploratory – notes are
  linked through contextual associations. They aren't refined or complete -
  notes are published as half-finished thoughts that will grow and evolve
  over time. They're less rigid, less performative, and less perfect than
  the personal websites we're used to seeing.
</blockquote>

this appeals to me and helps me overcome my reluctance to publishing by...

<ol>
  <li>
    ... framing the matter in a way that content isn't <i>expected</i> to
    be perfect. this takes away some of the pressure in my mind. i can
    always tell that voice in my head: "hey, it's not even <i>supposed</i>
    to be good."
  </li>
  <li>
    ... opening up the possibility to improve and expand later. this
    strategy has proven quite effective for me. for example, my source code
    is always full of todos. when that voice in my head starts bugging me
    again, i can just say: "yeah, i know. i'll get back to that."
  </li>
</ol>

so in summary, the <i>digital garden</i> format seems to be a pretty good
fit for my undertaking and that's why i went with one.

<h2>tech</h2>

i'm a tech guy. i'm frequently more interested in the tech applications are
built with or the medium a piece of content is published on than the content
itself. as such, the thought of publishing something immediately raises a
ton of tech-related questions. some of the ones that came up after deciding
to start a digital garden were...

<br><br>

where do i publish the content? do i use a service or self-host? self-host
with hardware or a vps? which provider? which format/distribution method do
i use? i kinda hate the modern web, do i really want to do this on the www?
i'd really like to try gemini but i don't know that much about it. would it
be a good fit? does it support inline hyperlinks? do i even <i>need</i>
inline hyperlinks? i probably shouldn't be hand-crafting html pages... or
sould i? maybe a static site generator is the way to go? perhaps i could
roll my own. what if folks are actually interested in my site and want to
be notified of changes? could i use rss? what licence should i use for
content? ... and so on and so forth.

<br><br>

part of me knows that these questions are actually just getting in the way
of actually publishing something though so i tried to go with "whatever
requires the least<sup><a href="#footnote-1">[1]</a></sup> amount of effort
to get started". so for now i've got...

<ul>
  <li>self-hosted: i have yet to set this up, will probably go with shared
      hosting via <a href="https://uberspace.de">uberspace</a>.</li>
  <li>hand-crafted static site, no generator</li>
  <li>no css (for now)</li>
  <li>minimal markup</li>
  <li>single/public git repo</li>
</ul>

the stack is bound to change over time. who knows, maybe i'll end up on
gemini after all. but for now, i've got something that works.

<h2>final remarks</h2>

this is actually happening. hell yeah!

<br><br><hr>

<p id="footnote-1">
  [1] i may not have been super strict about this. technically, self-hosting
      requires more effort than, say, creating a facebook page. but i am not
      throwing <i>all</i> my values over board just yet.
</p>
