<h1>2022-02-28: the collapse</h1>

this was originally a message i sent to my family in a chat room. it was
composed as a stream of thought on-the-fly. i am publishing it unaltered
below.

<h2>message</h2>

I feel like it's time to talk about <i>The Collapse</i>... or whatever you
want to call it.

<br><br>

I've been following the climate crisis for a while. The situation is
becoming increasingly dire, the evidence more and more clear and yet, we
keep marching on with business as usual, destroying life systematically:
plant life, animal life, human life, the life of our planet itself.

<br><br>

The political climate is as polarised as ever. Discourse is frequently
impossible, there's hatrid, a complete lack of understanding or even
willingness to see and understand the arguments of the other side. Positions
are extreme in all directions and the willingness to cooperate is dwindling.

<br><br>

It used to be easy to detach yourself from politics, to avoid discussions.
But COVID dragged it into our everyday lives. We're all immediately faced
with the consequences of political decisions that can come out of nowhere
and change from one day to the next. The topics surrounding COVID have been
straining for everyone and even caused long-term friendships to break under
the weight.

<br><br>

Now there's war on our doorstep (at least if feels close). People are
dropping bombs on cities where other people live with their families and
children. There's fighting in the streets. "Ukrainian men are turning into
animals", I hear. No mercy for the attackers. Nuclear waste is probably
seeping out. Increasingly dangerous weaponry is being brought into the
conflict zone, with nuclear war becoming a real possibility again.

<br><br>

Something... is very, very wrong. And it's not Putin, it's not the global
elites, it's not Donald Trump or Jeff Bezos, it's not Communism or
Capitalism. Something deep, deep inside of us, something that connects
us all is very, very sick and it's crying out, flailing, destroying
everything in its wake. We've allowed ourselves to become so disconnected...
disconnected to everything that's real and true and that really matters.
We're all just functioning in some kind of machinery. And somehow we know
this. We know this isn't right. We know there's... another way. Another,
more beautiful world. Not just a fantasy, a very real and possible alternate
reality. But we only catch short glimpses of it at a time before we get
distracted by the drudgery of everyday life again.

<br><br>

I don't know exactly what this other place is, much less how to get there.
But I know it's there. It's here. It's waiting. It's waiting for us to pull
it into existence. To make it a reality. And I'm convinced we can make it
happen. Somehow.

<br><br>

So. I don't really know where I'm going with this, just wanted to share my
thoughts. Maybe some of you feel the same way. I kinda want more people to
see this place.
