<h1>2022-04-24: update</h1>

i've been wanting to do another post, add something to this site for a while,
but i haven't done it. one of the reasons has been that perfectionism again. i
still don't feel comfortable publishing anything that's half-baked or not
complete in some way or other. but yeah: fuck that. here we are.

<br><br>

some of the things i've thinking about writing about include...

<ul>
  <li>my interpretation of <a href="https://en.wikipedia.org/wiki/Death_Stranding">
      Death Stranding</a></li>
  <li>a little something about (or maybe a review of)
      <a href="https://sodaraptor.itch.io/hypnagogia-boundless-dreams">
      Hypnagogia - Boundless Dreams</a> (spoiler: I liked it)</li>
  <li>some thoughts on the war in ukraine</li>
  <li>ramblings on the ecological crisis (mostly inspired by
      <a href="https://charleseisenstein.org/books/climate-a-new-story">Charles
      Eisenstein's Climate - A New Story</a>)</li>
  <li>some music walkthroughs</li>
  <li>a guide on how to get <a href="https://lineageos.org">LineageOS</a> onto
      a <a href="https://www.gsmarena.com/sony_xperia_sp-5364.php">Sony Xperia
      SP</a> with <a href="https://github.com/danielfullmer/robotnix">robotnix</a>
      </li>
</ul>

but those ideas will have to wait for another day.

<h2>meat world</h2>

you see, one of the other reasons i haven't been tending to my digital garden
recently is that i've been spending more and more of my time in meat world...
and i've been really enjoying it.

<br><br>

ironically, one of things i've been up to instead is <em>real gardening</em>.
i'm trying to reconnect to nature and decided to plant some shrubs and flowers
in the tiny plot of soil (the german term is <a href="https://de.wikipedia.org/wiki/Baumscheibe">
Baumscheibe</a>) on the pavement in front of my door step. it's my first attempt
at anything resembling gardening and i can't say it's going incredibly well so
far but i've been loving every minute of it.

<br><br>

it's an entirely new world for me to delve into, so there are lots of terms for
me to learn and as i learn the language, the way i perceive my surroundings
changes too. i'm learning about different kinds of plants, what kind of soil
they need, how they procreate, what role worms and bees play, etc. in the
process my understanding of the complexities of (and my respect for) nature is
increasing.

<br><br>

it's quite sad how detached we have become in modern western society, seeing
ourselves as separate from nature and disregarding the needs and wants of the
beings (trees, birds, insects, etc.) all around us. to many of us they have
become (or always were) invisible. i want to re-connect. my little garden won't
change the world but it feels like a step in the right direction.
