<h1>iooioio's digital garden</h1>

welcome to my <a href="https://maggieappleton.com/garden-history">digital
garden.</a> this is where i collect thoughts and ideas about various topics
that i'm interested in.

<br><br>

you can learn more about me <a href="about-me.html">here</a> and get in
touch via <a href="mailto:you@iooioio.xyz">email</a> (replace "you" with
"me") or find me <a href="https://fosstodon.org/web/@iooioio">on the
fediverse</a>.

<h2>current (2022-04)</h2>

<ul>
  <li>listening to: <a href="https://lifeformed.bandcamp.com/album/tunic-original-game-soundtrack">tunic (original game soundtrack)</a></li>
  <li>playing: <a href="https://www.inscryption.com">inscryption</a></li>
  <li>reading: <a href="https://charleseisenstein.org/books/climate-a-new-story">charles eistenstein: climate - a new story</a> (i'm a slow reader)</li>
  <li>most recent ramble: <a href="posts/2022-04-24.html">2022-04-24: update</a></li>
</ul>

<h2>pages</h2>

<!-- PAGES -->
